@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI'),
		url('./fonts/segoeui.ttf') format('truetype');
}
@font-face {
	font-family: 'Tahoma';
	src: local('Tahoma'),
		url('./fonts/tahoma.ttf') format('truetype');
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url("./images/bg-1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Segoe UI', 'Tahoma', Geneva, Verdana, sans-serif;
}